<h2 class="title">
  <a href="#" title="" rel="Home">User<span>Login</span></a>
</h2>

<%= simple_form_for :session, url: auth_path, method: :post do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.submit "Log In" %>
<% end %>
