<h1>Posted Secrets</h1>

<% @secrets.each do |secret| %>
  <div class="row">
    <div class="col-md-6">
      <h4>Secret #<%= secret["id"] %>:  <%= secret["content"] %></h4>
    </div>
  </div>
<% end %>
