/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 html, body {
 	height: 100%;
 	margin-left: 1px;
 }

 body {
 	margin: 0px;
 	padding: 0px;
 	background: #2b3034;
 	font-family: Georgia, "Times New Roman", Times, serif;
 	font-size: 14px;
 	color: #FFF;
 	-webkit-font-smoothing: antialiased;
 }

 .form {
   display: inline;
 }

 h1, h2, h3 {
 	margin-top: 0px;
 }

 p, ol, ul {
 	margin-top: 0px;
 }

 p, ol {
 	line-height: 200%;
 }

 strong {
 }

 a {
 	color: #fb4b00;
 }

 a:hover {
 	text-decoration: none;
 }

 a img {
 	border: none;
 }

 img.border {
 }

 img.alignleft {
 	float: left;
 }

 img.alignright {
 	float: right;
 }

 img.aligncenter {
 	margin: 0px auto;
 }

 hr {
 	display: none;
 }

 #wrapper {
 	margin: 0 auto;
 	width: 1000px;
 }
 #logo h1 {
 	font-size: 3.8em;
 	letter-spacing: -4px;
 	text-transform: lowercase;
   text-align: center;
 	margin: 38px 0 28px 0;
 }
 #logo h1 a {
 	color:#FFF;
 	text-decoration: none;
 }
 #logo h1 a span{
 	color:#fb4b00;
 }

 #sidebar {
 	width: 340px;
 	margin: 0;
 	padding: 0;
 	float: left;
 }

 #blurb {
 	margin: 0;
 	padding: 30px 0;
 	font-size: 18px;
 	line-height: 36px;
 	text-align: justify;
 }
 #blurb span{
 	color: #fb4b00;
 }

 #page {
 	float: right;
 	width: 700px;
 	margin: 0 20px;
 	padding: 0;
 }

 #tellus {
 	margin: 53px 0 40px 0;
 	width: 600px;
 	height: 40px;
 	background: url(../images/commentbg.png) no-repeat top right;
 }
 #tellus .textbox {
 	margin: 1px 5px 0 5px;
 	width: 500px;
 	height: 35px;
 	border: none;
 	font-size: 1.7em;
 	letter-spacing: -2px;
 	font-family: Georgia, "Times New Roman", Times, serif;
 	font-weight: bold;
 	color: #343a3e;
 }
 #tellus .submit {
 	margin: 5px 5px 5px 25px;
 	width: 100px;
 	height: 30px;
 	border: none;
 	font-size: 1.5em;
 	font-family: Georgia, "Times New Roman", Times, serif;
 	background: #fb4b00;
 	color: #FFF;
 	font-weight: bold;
 }
 #content {
 	margin: 0;
 	padding: 20px;
 	background: #3e464a url(../images/contenttop.jpg) no-repeat top center;
 }
 #content .title {
 	font-size: 1.8em;
 	font-weight: bold;
 	letter-spacing: -1px;
  height: 50px;
 }
 #content span {
 	margin: 0;
 	float: left;
 }
 #content .menu {
 	float: left;
 	padding: 0;
 	margin: 0;
 	height: 33px;
 }
 .menu ul {
 	margin: 0;
 	padding: 0;
 	}
 .menu li {
 	display: inline;
 }
 .menu a {
 	display: inline-block;
 	margin: 0 0 0 0px;
 	text-transform: lowercase;
 	text-decoration: none;
 	color: #fb4b00;
 	outline: none;
 }
 .menu a:hover {
 	text-decoration: underline;
 }
 .menu li a span {
 	display: inline-block;
 	height: 33px;
 	padding: 0px 8px 0px 8px;
 }
 .menu li.current_page_item a {
 	background: #fb4b00 url(../images/homepage03.jpg) no-repeat left top;
 }
 .menu li.current_page_item a span {
 	background: url(../images/homepage04.jpg) no-repeat right top;
 	color: #FFFFFF;
 }


 #footer {
 	display: block;
 	height: 24px;
 	width: 600px;
 	margin: 0 0 40px 0;
 	padding: 0;
 	background: url(../images/contentbottom.jpg) no-repeat top center;
 }

 .login .input {
 	margin: 0 0 20px 0;
 	padding: 0 10px;
 	width: 340px;
 	height: 40px;
 	border:none;
 	font-size: 1.7em;
 	letter-spacing: -2px;
 	font-family: Georgia, "Times New Roman", Times, serif;
 	font-weight: bold;
 	color: #343a3e;
 	background: url(../images/loginbg.png) no-repeat top left;
 }
 .login .button {
 	float: right;
 	margin: 0 0 10px 0;
 	padding: 0 10px;
 	width: 120px;
 	height: 40px;
 	border:none;
 	font-size: 1.7em;
 	letter-spacing: -2px;
 	font-family: Georgia, "Times New Roman", Times, serif;
 	font-weight: bold;
 	color: #FFF;
 	background: url(../images/loginbtn.png) no-repeat top left;
 }
 .login .smlink {
 	font-size: 11px;
 	line-height: 13px;
 	color: #FFF;
 }
 #footer p {
 	width: 600px;
 	text-align: center;
 	padding: 40px 0;
 	}

 /* =Widgets
 -------------------------------------------------------------- */
 .widget {
 	width: 340px;
 	padding: 0;
 	margin: 0 0 40px 0;
 	text-align: justify;
 	line-height: 20px;
 	font-size: 14px;
 	color: #566068;
 }
 .widget h2 {
 	padding-top: 10px;
 	color: #FFF;
 	font-size: 30px;
 	letter-spacing: -3px;
 }
 .widget h2 span {
 	color: #fb4b00;
 }
 .widget .avatar {
 	margin: 0 10px 20px 0px;
 	padding: 5px;
 	width: 55px;
 	height: 55px;
 	float: left;
 	border: 1px solid #fb4b00;
 }
 .widget .author {
 	font-size: 20px;
 	margin-right: 6px;
 }
 .widget .author a {
 	text-decoration: none;
 }
 .widget .author a:hover {
 	text-decoration: underline;
 }
 .widget .social {
 	margin: 0 0 0 5px;
 }
 .widget .time {
 	float: right;
 	margin-right: 0px;
 	font-size: 16px;
 	color: #fb4b00;
 }
 .widget .fav {
 	margin: 0;
 	padding: 20px 0;
 	clear: both;
 	background: url(../images/widgetbg.jpg) repeat-x bottom left;
 }
