  <% @secrets.each do |secret| %>
    <div class="row" style="border-bottom:1px solid #fb4b00">
      <h4 class="col-md-6" style="color:#fb4b00; font-weight:bold;">Secret #<%= secret["id"] %></h4>
      <h4 class="col-md-6" style="color:#fb4b00; text-align:right; padding-right: 20px"><%= distance_of_time_in_words_to_now secret["created_at"] %> ago</h4>
      <h4 style="padding: 0 20px"><%= secret["content"] %></h4>
    </div>
  <% end %>
