<div style="height:250px">
  <div id="logo">
    <h1><a><span>New</span>Secret</a></h1>
  </div>

  <%= simple_form_for :secret, method: :post, url: secrets_path do |f| %>
    <%= f.input :content, as: :text, label: false, placeholder: 'Tell me a secret!!!' %>
    <%= f.input :user_id, as: :hidden, input_html: { value: session[:user_id] } %>
    <%= f.submit "Add Secret", :class => 'btn btn-warning btn-block' %>
  <% end %>
</div>
