<div id="blurb" style="height:550px">

  <p>"He that has eyes to see and ears to hear may convince himself that no mortal can keep a secret. If his lips are silent, he chatters with his fingertips; betrayal oozes out of him at every pore."</p>
  <p> -  Sigmund Freud</p>

  <p style="padding-top:30px">"If you want to keep a secret, you must also hide it from yourself."</p>
  <p> -  George Orwell</p>

  <p style="padding-top:30px">"Three things cannot long stay hidden: the sun, the moon and the truth."</p>
  <p> -  Buddha</p>

  <p style="padding-top:30px">"Three may keep a secret, if two of them are dead."</p>
  <p> -  Benjamin Franklin</p>
</div>
